.dashboardAdmin {
  width: 100%;
  height: 1024px;
  position: relative;
  border-radius: 6px;
  background-color: #f2e6cf;
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  color: #8a5a6b;
  font-family: Inter;
}

.dashboardAdminChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #122548;
  width: 279px;
  height: 1024px;
}

.personIcon {
  position: absolute;
  top: 345px;
  left: 34px;
  width: 24px;
  height: 24px;
}

.icons8Ajustes501 {
  position: absolute;
  top: 445px;
  left: 37px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.icons8Seguridad502 {
  position: absolute;
  top: 275px;
  left: 37px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.panelDeAdministracin {
  position: absolute;
  top: 122px;
  left: 17px;
  font-size: 18px;
  display: inline-block;
  color: #f8fdff;
  width: 275px;
  height: 41px;
}

.dashboardAdminItem {
  position: absolute;
  top: 186px;
  left: 25px;
  border-radius: 10px;
  background-color: #d5e3f6;
  width: 188px;
  height: 45px;
}

.dashboardSeguridadAfiliacionContainer {
  position: absolute;
  top: 197px;
  left: 59px;
  font-size: 16px;
  display: inline-block;
  width: 226px;
  height: 438px;
  color: #fff;
}

.dashboard {
  margin: 0;
  color: #3c6baa;
}

.blankLine {
  margin: 0;
}

.seguridad {
  margin: 0;
  color: #fffafa;
}

.dashboardAdminInner {
  position: absolute;
  top: 199px;
  left: 36px;
  border-radius: 1px;
  background-color: #3c6baa;
  width: 10px;
  height: 6px;
}

.rectangleDiv {
  position: absolute;
  top: 199px;
  left: 47px;
  border-radius: 1px;
  background-color: #3c6baa;
  width: 6px;
  height: 6px;
}

.dashboardAdminDashboardAdminChild {
  position: absolute;
  top: 206px;
  left: 47px;
  border-radius: 1px;
  background-color: #3c6baa;
  width: 6px;
  height: 8px;
}

.dashboardAdminChild2 {
  position: absolute;
  top: 206px;
  left: 36px;
  border-radius: 1px;
  background-color: #3c6baa;
  width: 10px;
  height: 8px;
}

.dashboardAdminChild3 {
  position: absolute;
  top: 148px;
  left: 296px;
  border-radius: 23px;
  background-color: #fff;
  width: 867px;
  height: 353px;
}

.dashboardAdminChild4 {
  position: absolute;
  top: 377px;
  left: 316px;
  border-radius: 5px;
  background-color: #64c09a;
  width: 820px;
  height: 46px;
}

.dashboardAdminChild5 {
  position: absolute;
  top: 442px;
  left: 316px;
  border-radius: 5px;
  background-color: #dbe45c;
  width: 820px;
  height: 46px;
}

.dashboardAdminChild6 {
  position: absolute;
  top: 538px;
  left: 297px;
  border-radius: 23px;
  background-color: #fff;
  width: 872px;
  height: 416px;
}

.estadoDeSeguridad {
  position: absolute;
  top: 157px;
  left: 372px;
  font-size: 36px;
  font-family: Jaldi;
  color: #2d1b21;
  display: inline-block;
  width: 297px;
  height: 44px;
}

.actividadReciente {
  position: absolute;
  top: 549px;
  left: 373px;
  font-size: 36px;
  font-family: Jaldi;
  color: #2d1b21;
  display: inline-block;
  width: 299px;
  height: 50px;
}

.icons8SecurityLock321 {
  position: absolute;
  top: 154px;
  left: 319px;
  width: 49px;
  height: 49px;
  object-fit: cover;
}

.lineDiv {
  position: absolute;
  top: 214.68px;
  left: 328.28px;
  border-top: 1px solid #114c5f;
  box-sizing: border-box;
  width: 807.8px;
  height: 1px;
  transform: rotate(-0.1deg);
  transform-origin: 0 0;
}

.dashboardAdminChild7 {
  position: absolute;
  top: 615.81px;
  left: 329.44px;
  border-top: 1px solid #114c5f;
  box-sizing: border-box;
  width: 811.7px;
  height: 1px;
  transform: rotate(-0.1deg);
  transform-origin: 0 0;
}

.icons8Pasado241 {
  position: absolute;
  top: 561px;
  left: 323px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dashboardAdminChild8 {
  position: absolute;
  top: 558px;
  left: 1007px;
  border-radius: 10px;
  background-color: #67a6f9;
  width: 134px;
  height: 41px;
}

.verTodo {
  position: absolute;
  top: 564px;
  left: 1023px;
  font-size: 24px;
  font-weight: 600;
  color: #fff7fa;
  display: inline-block;
  width: 350px;
  height: 40px;
}

.icons8FlechaAmpliar501 {
  position: absolute;
  top: 275px;
  left: 195px;
  width: 14px;
  height: 14px;
  object-fit: cover;
}

.vectorIcon {
  position: absolute;
  top: 176.76px;
  left: 278.91px;
  width: 13.3px;
  height: 35.7px;
}

.dashboardAdminChild9 {
  position: absolute;
  top: 248px;
  left: 316px;
  border-radius: 5px;
  background-color: #5690ee;
  width: 820px;
  height: 46px;
}

.dashboardAdminChild10 {
  position: absolute;
  top: 313px;
  left: 316px;
  border-radius: 5px;
  background-color: #ee5b56;
  width: 820px;
  height: 46px;
}

.dashboardAdminChild11 {
  position: absolute;
  top: 248px;
  left: 323px;
  border-radius: 5px;
  background-color: #cee3fe;
  width: 813px;
  height: 46px;
}

.rolesConfigurados {
  position: absolute;
  top: 260px;
  left: 343px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 350px;
  height: 34px;
}

.div {
  position: absolute;
  top: 263px;
  left: 1034px;
  font-weight: 600;
  color: #5690ee;
  display: inline-block;
  width: 184px;
  height: 29px;
}

.dashboardAdminChild12 {
  position: absolute;
  top: 313px;
  left: 323px;
  border-radius: 5px;
  background-color: #f7caca;
  width: 813px;
  height: 46px;
}

.usuariosSinAsignar {
  position: absolute;
  top: 327px;
  left: 343px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 350px;
  height: 34px;
}

.dashboardAdminDiv {
  position: absolute;
  top: 326px;
  left: 1059px;
  font-weight: 600;
  color: #ee5b56;
  display: inline-block;
  width: 184px;
  height: 29px;
}

.dashboardAdminChild13 {
  position: absolute;
  top: 377px;
  left: 323px;
  border-radius: 5px;
  background-color: #ddf4dd;
  width: 813px;
  height: 46px;
}

.afiliacionesDeEmpresas {
  position: absolute;
  top: 392px;
  left: 343px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 494px;
  height: 34px;
}

.div2 {
  position: absolute;
  top: 390px;
  left: 1059px;
  font-weight: 600;
  color: #64c09a;
  display: inline-block;
  width: 184px;
  height: 29px;
}

.dashboardAdminChild14 {
  position: absolute;
  top: 442px;
  left: 323px;
  border-radius: 5px;
  background-color: #f7fdd4;
  width: 813px;
  height: 46px;
}

.ltimaAuditora {
  position: absolute;
  top: 456px;
  left: 343px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 350px;
  height: 34px;
}

.div3 {
  position: absolute;
  top: 455px;
  left: 979px;
  font-weight: 600;
  color: #a6ab60;
  display: inline-block;
  width: 184px;
  height: 29px;
}

.administradorParent {
  position: absolute;
  top: 91px;
  left: 1056px;
  width: 249px;
  height: 72px;
  color: #000;
}

.administrador {
  position: absolute;
  top: 3px;
  left: 37px;
  font-weight: 500;
  display: inline-block;
  width: 90px;
  height: 15px;
}

.icons8RecordatoriosDeCitas {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}

.admineventcom {
  position: absolute;
  top: 21px;
  left: 33px;
  font-size: 11px;
  font-weight: 300;
  color: #8a5a6b;
  display: inline-block;
  width: 98px;
  height: 13px;
}

.frameChild {
  position: absolute;
  top: 0px;
  left: 141px;
  border-radius: 50%;
  background-color: #67a6f9;
  width: 31px;
  height: 30px;
}

.ad {
  position: absolute;
  top: 6px;
  left: 145px;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  width: 42px;
  height: 48px;
}

.event5Icon {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 279px;
  height: 74px;
  object-fit: cover;
}
